<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control"
          required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control"
          required>
      </div>
      <div class="from-group">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!signInForm.valid">Sign In</button>
      </div>
    </form>
  </div>
</div>
